.lvl1{
    height: 300px;
    background-color: #1f2937;
    color: white;
    /*font-family: "Roboto Light";*/
}



.page_title{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.page_title .links {
    color: white;
    margin-left: 15px; /* space between links */
    text-decoration: none;
    font-weight: bold;
}

.description-label{
    display: flex;
    justify-content: space-evenly;
}

.santa_image{
    width: 350px;
    height: 100px;

}
.santa_image img {
    width: 350px;
    height: 150px; /* forces new height */
}


.lvl2{
    color: black;
    background-color: white;
}

.subtextHeader{
    display: flex;
    justify-content: center;
}

.subtexts{
   display:flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.subtext1{
    width: 200px;
    height:250px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}
.subtext2{
    width: 200px;
    height:250px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}
.subtext3{
    width: 200px;
    height:250px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.quote{
    height:300px;
    display: flex;
    /*flex-direction: column;*/
    color: black;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote_styling{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.quote_citation{
    padding-left: 40px;
    padding-top: 170px;
    font-weight: bold;
    font-size: 25px;
}


/*.lvl3{*/
/*    display:flex;*/
/*    justify-content: center;*/

/*}*/

/*.calltoaction{*/
/*    background-color: #3882f6;*/
/*    margin:30px;*/

/*}*/

/*.position{*/
/*    display:flex;*/
/*    justify-content: center;*/

/*}*/

/*.idfk3{*/
/*    padding-top: 70px;*/
/*    padding-left:40px;*/



/*}*/

.calltoaction{
    background-color: #3882f6;
    margin: 30px;
    padding: 50px 100px;
    border-radius: 10px;
}

.position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cta-content h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.cta-content p {
    color: #e5e7eb;
    font-size: 16px;
}

.idfk3{
    flex-shrink: 0;
}

.calltoaction button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.calltoaction button:hover {
    background-color: white;
    color: #3882f6;
}

i







